.about-lead { 
  font-style: italic;
  font-size: 24px;
  font-weight: 300;
}

.success-message, .error-message {
  margin-top: 100px;
  margin-bottom: -75px;
}

.invalid-email {
  margin-bottom: 0px;
  margin-top: 10px;
  color: $color-red
}

.empty-message {
  margin-top: 10px;
  color: $color-red
}

.exec-bios {
  .exec {
    .name {
      font-size: 35px;
      margin-bottom: 15px;
    }

    img {
      margin-bottom: 15px;
    }

    .title {
      margin-bottom: 10px;
      font-weight: 300; 
    }

    .bio {
      font-weight: 300;
    }
  }
}