.listing-preview {
  box-shadow: 0 3px 15px rgba(50, 50, 50, 0.2);
  padding: 25px;
  border-radius: 4px;
  margin-bottom: 25px;
  img {
    margin-bottom: 25px;
  }

  .listing-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .rent-info {
      text-align: right;
    }
  }
  .listing-link-container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
    margin-top: 15px;
  }
}

.listing-lead {
  font-size: 22px;
  font-style: italic;
  margin-top: -150px;
}