.listing-row {
  margin-bottom: 50px;
}
.listing-preview {
  box-shadow: 0 3px 15px rgba(100, 100, 100, 0.2);
  padding: 25px;
  border-radius: 4px;
  background: #f7f7f7;
  
  .listing-address-container {
    margin-bottom: 25px;
  }
  img {
    margin-bottom: 25px;
  }

  .listing-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .rent-info {
      text-align: right;
    }
  }
  .listing-link-container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
    margin-top: 15px;

    .call-to-action {
      background: transparent;
      border: 2px solid $color-dark-gray;
      color: #fff !important;
      background: $color-dark-gray;
      
      &:hover {
        background: #fff;
        color: $color-dark-gray !important;
      }
    }
  }
}

.listing-page {
  .listing-info {
    box-shadow: 0 3px 15px rgba(100, 100, 100, 0.2);
    padding: 25px;    
    border-radius: 4px;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: #f7f7f7;
    
    .heading {
      padding-bottom: 15px;
      border-bottom: 2px solid #2b2b2b;
      margin-bottom: 35px;
    }

    .rent-info {
      margin-bottom: 35px;
    }

    .location-info {
      flex: 1
    }
    .listing-city {
      font-size: 25px;
    }
    .listing-state {
      font-size: 22px;
      margin-bottom: 25px;
    }
    .bed-bath p {
      font-size: 22px;
    }
  }

  .listing-lead {
    font-size: 20px;
    letter-spacing: 1px;
    font-style: italic;
    font-weight: 300;
  }
}